.mainHeading h1{
    text-align: center;
    font-size: 45px;
}
.mainContainer{
    color: white;
    background-color: black;
    padding-top: 10%;
    height: auto;
}
.topImageContainer{
    display: flex;
    width: 60%;
    margin: auto;
    height: auto;
}
.emotePicture{
    width: 45%;
    margin: auto;
    margin-top: 10%;
}
.lipstickImage{
    width: 45%;
    margin: auto;
}
.buttonContainer{
    width: 10%;
    margin: auto;
    margin-top: 7%;
}
.buttonContainer button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}
.emotePicture:last-child{
    width: 45%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
